{{- /* Recompute safely for partial scope */ -}}
{{- $seoTitle := cond .IsHome .Title (printf "%s | %s" .Title .Site.Title) -}}
{{- $seoDescription := .Params.description | default .Site.Params.description -}}
{{- $image := .Params.image | default .Site.Params.seo.image | default "/images/og-image.png" -}}
{{- $imageAbs := $image | absURL -}}
{{- $canonical := .Permalink -}}

<!-- WebSite JSON-LD -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": "https://unisondb.io/#website",
  "name": "UnisonDB",
  "url": "https://unisondb.io/",
  "inLanguage": "en-US",
  "description": "{{ $seoDescription }}",
  "publisher": {
    "@type": "Organization",
    "@id": "https://unisondb.io/#organization",
    "name": "The UnisonDB Authors",
    "url": "https://unisondb.io/",
    "logo": {
      "@type": "ImageObject",
      "url": "https://unisondb.io/images/logo.svg"
    }
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "https://unisondb.io/?s={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>

{{ if .IsHome }}
<!-- SoftwareApplication JSON-LD (Homepage) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "@id": "https://unisondb.io/#software",
  "name": "UnisonDB",
  "applicationCategory": "DatabaseApplication",
  "operatingSystem": "Linux, macOS, Windows",
  "description": "{{ $seoDescription }}",
  "url": "https://unisondb.io/",
  "inLanguage": "en-US",
  "license": "https://www.apache.org/licenses/LICENSE-2.0",
  "author": {
    "@type": "Organization",
    "name": "The UnisonDB Authors",
    "@id": "https://unisondb.io/#organization"
  },
  "publisher": {
    "@type": "Organization",
    "name": "The UnisonDB Authors",
    "@id": "https://unisondb.io/#organization"
  },
  "codeRepository": "https://github.com/ankur-anand/unisondb",
  "programmingLanguage": "Go",
  "image": {
    "@type": "ImageObject",
    "url": {{ $imageAbs | jsonify }}
  },
  "sameAs": [
    "https://github.com/ankur-anand/unisondb",
    "https://x.com/in_aanand"
  ]
}
</script>
{{ end }}